<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ff356d7e-a5f6-4293-af53-b3b85f1c54fa/resourcegroups/nprod-rhino-innov-rg/providers/Microsoft.Web/sites/nprod-rhino-innov-spa-bff-angular</ResourceId>
    <ResourceGroup>nprod-rhino-innov-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nprod-rhino-innov-spa-bff-angular-a2bhb4gybqg3ftgx.southcentralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>586272bb-19bc-4bab-976f-5dc1e778257e</ProjectGuid>
    <MSDeployServiceURL>nprod-rhino-innov-spa-bff-angular-a2bhb4gybqg3ftgx.scm.southcentralus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nprod-rhino-innov-spa-bff-angular</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>